@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.wrapper {
    margin-left: 5%;
}

body {
    background-color: #FFEAE7;
    font-family: 'Rubik Mono One', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: #242424;
    background-image: url(./image/image_main.png);
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    align-items: center;
}

.image_logo_first {
    width: 9em;
    height: 5em;
}

.play_button {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}
.play_icon {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-self: center;
}
.play_icon :hover {
    fill: #E422C1;
}
.letters_button {
    z-index: 0;
    background-color: none;
    animation: rotateBackground 5s 
    infinite linear;
}
.video-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Півпрозорий фон */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.video-container {
    box-shadow: 10px rgba(0, 0, 0, 0.5);
}
.close-button {
    cursor: pointer;
    color: #E422C1;
    margin: 1%;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
}
.mobile-menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }
  
.mobile-menu {
    display: none;
    /* Стилі для блоку мобільного меню */
}


.main_text_block_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}
.subtitle {
    color: var(--Black, #242424);
    font-size: 24px;
    font-weight: 500;
}
.pink_text_subtitle {
    color: var(--Black, #E422C1);
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}
h1 {
    color: var(--Black, #242424);
    font-family: 'Montserrat', sans-serif;
    font-size: 74px;
    font-style: normal;
    font-weight: 600;
    line-height: 124.585%; /* 68.522px */
    letter-spacing: 1.65px;
    max-width: 725px;
}
.pink_text_title{
    color: var(--Black, #E422C1);
    font-family: 'Raleway';
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 124.585%;
    letter-spacing: 1.65px;
}

.buttons_block_1 {
    max-width: 400px;
    display: flex;
    margin-top: 10%;
}
.pink_button_homepage {
    border-radius: 5px;
    background: var(--Pink, #E422C1);
    width: 200px;
    height: 50px;
    border: none;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
}
.pink_button {
    border-radius: 5px;
    background: var(--Pink, #E422C1);
    width: 200px;
    height: 50px;
    border: none;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
}
.pinkborder_button {
    border-radius: 5px;
    border: 1px solid var(--Pink, #E422C1);
    color: #E422C1;
    width: 200px;
    height: 50px;
    background-color: transparent;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 5%;
    cursor: pointer;
}

.action_icons {
    margin-right: 5%;
}
.main_list_icons {
    display: inline-flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    border-radius: 10px;
    background: var(--background-main, #FFEAE7);
    list-style-type: none;
}
.icons_nav {
    stroke: #242424;
}
.icons_nav:hover {
    stroke:  #E422C1;
}
.mail:hover {
    stroke: #E422C1;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin-top: 8%;
    display: flex;
}
.menu li {
    display: flex;
    align-items: center;
    margin: 1.5%;
}
.menu a {
    text-decoration: none;
    color: #242424;
    font-size: 20px;
}
.menu a:hover {
    color: #E422C1;
}
#menu {
    transition: 0.3s;
}
.spacer {
    height: 100%; /* Висота вашого меню */
    display: none; /* Початково ховаємо */
}
#menu.fixed-menu {
    top: -13%;
    position: fixed;
    padding-left: 5%;
    margin-left: -6%;
    width: 100%;
    background: var(--Gradient, linear-gradient(90deg, #FCCB90 0%, #D57EEB 100%));
    z-index: 1000;
}
#menu.fixed-menu .image_logo,
#menu.fixed-menu .pink_button {
    display: block;
}

#menu .image_logo,
#menu .pink_button {
    display: none;
}

.block_subscribe {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 6%;
    max-width: 100%;
    background: var(--Gradient, linear-gradient(90deg, #FCCB90 0%, #D57EEB 100%));
    background-size: 100%;
}
.wrapper_subscribe {
    display: flex;
    align-items: center;
}
.subtitle_subscribe {
    color: var(--Black, #242424);
    font-size: 20px;
    font-weight: 500;
    line-height: 130.4%;
    letter-spacing: 0.96px;
    width: 49%;
    margin-right: 7%;
}
.sticker {
    margin-top: 8%;
    margin-left: 76%;
    width: 178px;
    height: 178px;
    transform: rotate(15deg);
    background-image: url(./image/sticker.svg);  
    display: flex;
    align-items: center;
    flex-direction: column; 
    position: absolute;
}
.subcribe_text1 {
    margin-top: 25%;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.64px;
}
.subcribe_text2 {
    margin-top: 0%;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1.28px;
}

.block_2 {
    margin: 5%;
}
.wrapper_block2 {
    display: flex;
    gap: 5%;
    justify-content: space-between;
}
.block2_part1 {
    width: 45%;
}
.block2_part1_image {
    padding-top: 5%;
    max-width: 590px;
    max-height: 387px;
}
.block2_part2 {
    width: 40%;
}
.block2_part2_image {
    max-width: 512px;
    max-height: 489px;
    padding-bottom: 5%;
}
.main_text {
    color: var(--Black, #242424);
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.8px;
}
.pink_maintext {
    color: var(--Pink, #E422C1);
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.8px;
}
h2 {
    color: var(--Black, #242424);
    font-family: "Rubik Mono One";
    font-size: 32px;
    font-weight: 400;
}
.block2_line {
    position: absolute;
    margin-top: 5%;
}

.block_subscribe2 {
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    max-width: 100%;
    background: var(--Gradient, linear-gradient(90deg, #FCCB90 0%, #D57EEB 100%));
    background-size: 100%;
}
.wrapper_subscribe2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.subtitle_subscribe2 {
    color: var(--Black, #242424);
    font-size: 24px;
    font-weight: 500;
    line-height: 130.4%;
    letter-spacing: 0.96px;
    width: 65%;
    margin-right: 7%;
}
.pulse {
    border-radius: 5px;
    background: var(--Pink, #E422C1);
    width: 200px;
    height: 50px;
    border: none;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(221, 0, 0, 0.4);
    animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}


.block_3 {
    max-width: 100%;
    margin-left: 5%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}
.block3_list_direction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 34em;
    gap: 5%;
}
.list ul {
    list-style: none;
}
.list li {
    display: flex;
    flex-direction: column;
    padding-bottom: 15%;
    white-space: nowrap;
}
.list a {
    text-decoration: none;
    color: #242424;
    font-size: 24px;
}
.list a:hover {
    color: #E422C1;
}
.block3_direction {
    display: flex;
    align-items: flex-start; /* Змінено на flex-start для вирішення проблеми зі зсувом вниз */
    background-color: #FFFFFF66;
    padding-left: 3%;
    gap: 5%;
    display: none;
    flex-wrap: wrap; /* Додано wrap, щоб дозволити елементам переноситися на новий рядок при необхідності */
}
.block3_direction:first-child { 
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.block_title {
    font-size: 36px;
    font-weight: 600;
}
.direction_info {
    width: 50%;
}
.direction_image {
    width: 387px;
    height: 333px;
}
.direction_image_button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}
.direction_image {
    margin-bottom: 10%;
}



.marquee_container {
    overflow: hidden;
}
.marquee {
    margin-top: 5%;
    font-size: 88px;
    font-weight: 400;
    letter-spacing: 1%;
    white-space: nowrap;
    position: relative;
    animation: marquee 10s linear infinite;
    -webkit-text-stroke: 1.5px #A6A6A6;
    color: transparent;
    width: 100%;
}

.block_4 {
    margin-left: 5%;
    margin-top: 3%;
    width: 90%;
}
.shedule {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.days {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shedule_days_text {
    color: var(--Pink, #E422C1);
    font-size: 24px;
    font-weight: 500;
}
.shedule_part_monday {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shedule_part_tuesday {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shedule_part_saturday {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shedule_line_monday {
    position: absolute;
    margin-top: 5%;
    margin-left: -4.5%;
}
.shedule_line_tuesday {
    position: absolute;
    margin-top: 4%;
    margin-left: -4%;
}
.shedule_line_saturday {
    position: absolute;
    margin-top: 4%;
    margin-left: -3.5%;
}
.shedule_time_class {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
.shedule_part2 {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10%;
    padding-bottom: 20px;
    z-index: 1;
}
.shedule_time {
    width: 60px;
    height: 25px;
}
.shedule_classname {
    width: 121px;
    height: 25px;
}

.shedule_halls {
    margin-top: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.shedule_polehall {
    display: flex;
    align-items: center;
}
.shedule_halls_icon {
    margin-right: 15px;
}

.block_5 {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 3%;
    max-height: 59em;
}
.sticker_2 {
    margin-top: 5%;
    margin-left: 22%;
    width: 180px;
    height: 180px;
    transform: rotate(15deg);
    background-image: url(./image/sticker.svg);  
    display: flex;
    align-items: center;
    flex-direction: column; 
    position: absolute;
}
.subcribe2_text1 {
    margin-top: 25%;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.64px;
}
.subcribe2_text2 {
    margin-top: 0%;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1.28px;
}
.block_direction_price {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.block_price {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}
.price_section {
    width: 680px;
    height: 100px;
    border-radius: 5px;
    background: var(--Gradient, linear-gradient(90deg, #FCCB90 0%, #D57EEB 100%));
    margin-bottom: 3%;
}
.price_general {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.price_text_class {
    font-size: 24px;
    font-weight: 700;
}
.price_text_price {
    font-size: 32px;
    font-weight: 700;
}
.black_button {
    display: flex;
    border: none;
    border-radius: 5px;
    color: #FFEAE7;
    background: var(--Black, #242424);
    padding: 10px;
    align-items: center;
    gap: 10px;
}
.block_5_description {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
.subtitle_block5_description {
    color: var(--Black, #242424);
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
.pink_text_block5 {
    color: var(--Black, #E422C1);
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}
.description_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marquee_container_2 {
    overflow: hidden;
}

.gallery {
    margin-top: 5%;
    margin-left: 5%;
    max-width: 90%;
}
  
.photo-grid {
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
  
.gallery_img {
    width: 100%;
    height: auto;
}
.gallery_img:nth-child(2) {
    grid-row: span 2; /* змінено розташування другої фотографії */
    grid-column: span 2; /* змінено розташування другої фотографії */
  }
  
.gallery_img:nth-child(3) {
    grid-column: 1; /* змінено розташування третьої фотографії */
  }
.gallery_button {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 5%;
}
.showMoreButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: var(--Pink, #E422C1);
    border: none;
    color: white;
    padding: 10px 50px 10px 50px;
    font-size: 20px;  
    cursor: pointer;  
}

.form_block {
    background: var(--Gradient, linear-gradient(90deg, #FCCB90 0%, #D57EEB 100%));
    padding: 5%;
}
.form_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form_text {
    max-width: 60%;
}
.form_text_1 {
    color: var(--Black, #242424);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5%;
}
.pink_text_form {
    color: var(--Pink, #E422C1);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5%;
}
.form_svg {
    position: absolute;
    margin-left: 40%;
    margin-top: 10%;
}
.pink_button_form {
    border-radius: 5px;
    background: var(--Pink, #E422C1);
    border: none;
    display: flex;
    max-width: 387px;
    max-height: 53px;
    padding: 28px 59px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 155.687%;
}




.contacts_block {
    margin: 5%;
}
.contact_sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contacts_text {
    max-width: 100%;
}
.contact_text_section {
    padding: 2%;
}
.contact_pinksubtitle {
    color: var(--Pink, #E422C1);
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
}
.contact_icons {
    padding-right: 5%;
}
.map {
    width: 700px;
    height: 500px;
}



footer {
    margin-top: 5%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #242424;
    padding: 5%;
}
.footer_menu li {
    list-style: none;
}
.footer_menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.footer_menu a:hover {
    color: #E422C1;
}
.footer_menu_list {
    margin-left: 2%;
}
.footer_maintext {
    color: white;
    font-size: 20px;
}
.main_list_icons_footer {
    display: flex;
    padding: 10px;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    border-radius: 10px;
    background: var(--background-main, #FFEAE7);
    list-style-type: none;
}
.footer_button {
    border-radius: 5px;
    background: var(--Pink, #E422C1);
    border: none;
    color: white;
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_button_icon {
    margin-right: 20px;
}


@keyframes rotateBackground {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(110, 110, 110, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 50px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(107, 107, 107, 0.4);
      box-shadow: 0 0 0 0 rgba(114, 114, 114, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 50px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

@keyframes marquee {
    0% { transform: translateX(2%); }
    100% { transform: translateX(-100%); }
}


@media screen and (max-width: 1024px) {
    .main_text {
        font-size: 16px;
    }
    .pink_maintext {
        font-size: 16px;
    }
    .image_logo_first {
        width: 7em;
        height: 4em;
    }

    .block_subscribe {
        margin-top: 14%;
    }
    .sticker {
        margin-left: 73%;
    }

    #menu.fixed-menu {
        top: -9%;
    }

    .wrapper_block2 {
        display: flex;
        justify-content: space-between;
    }
    .block2_part1_image {
        width: 387px;
        height: 253px;
    }
    .block2_part2_image {
        width: 360px;
        height: 380px;
    }

    .direction_image {
        width: 223px;
        height: 191px;
    }
    .block3_list_direction {
        width: 95%;
        height: 36em;
        gap: 3%;
    }

    .subtitle_subscribe2 {
        font-size: 20px;
    }

    .shedule_days_text {
        font-size: 23px;
    }
    .shedule_line_monday {
        position: absolute;
        margin-top: 5%;
        margin-left: -6%;
    }
    .shedule_line_tuesday {
        position: absolute;
        margin-top: 4%;
        margin-left: -5%;
    }
    .shedule_line_saturday {
        position: absolute;
        margin-top: 4%;
        margin-left: -5%;
    }
    .line_subscribe {
        width: 25%;
    }

    .block_5 {
        margin: 5%;
    }
    .sticker_2 {
        width: 103px;
        height: 103px;
        transform: rotate(-15deg);
        background-image: url(./image/stire_2\(Tab_version\).png);
        margin-left: 20%;
        margin-top: 10%;
    }
    .subcribe2_text1 {
        font-size: 11px;
    }
    .subcribe2_text2 {
        font-size: 18px;
    }
    .block_price {
        margin-left: 5%;
    }
    .price_section {
        max-width: 540px;
        max-height: 100px;
    }
    .subtitle_block5_description {
        font-size: 20px;
    }
    .pink_text_block5 {
        font-size: 20px;
        font-weight: 600;
    }

    .slider {
        max-width: 100%;
    }

    .form_text {
        width: 45em;
    }
    .form_section {
        gap: 7%;
    }
    .form_text_1 .pink_text_subtitle {
        font-size: 20px;
    }
    .form_svg {
        display: none;
    }

    .contact_sections {
        gap: 5%;
    }
    .map {
        width: 500px;
        height: 400px;
    }
}




@media screen and (max-width: 768px) {
    body {

    }
    #menu.fixed-menu {
        top: -7%;
    }
    .fixed-menu .desktop_menu li a,
    .fixed-menu .pink_button {
    font-size: 16px; /* Розмір тексту для фіксованого меню */
    }
    .fixed-menu .pink_button {
        width: 150%;
    }
    h1 {
        font-size: 48px;
    }
    .pink_text_title{
        font-size: 48px;
    }

    .block_subscribe {
        margin-top: 35%;
    }
    .subtitle_subscribe {
        font-size: 20px;
        width: 70%;
    }
    .line_subscribe {
        display: none;
    }
    .sticker {
        width: 180px;
        height: 180px;
        margin-left: 65%;
    }
    .subcribe_text1 {
        font-size: 16px;
    }
    .subcribe_text2 {
        font-size: 32px;
        font-weight: 600;
    }

    .block2_part1 {
        width: 50%;
    }
    .block2_part1_image {
        width: 320px;
        height: 210px;
    }
    .block2_part2_image {
        width: 280px;
        height: 300px;
    }
    .block2_line {
        width: 180px;
    }

    .subtitle_subscribe2 {
        display: block;
        font-size: 16px;
    }
    
    .block3_list_direction {
        display: flex;
        flex-direction: column;
        margin-top: 3em;
        margin-bottom: 3em;
        width: 95%;
    }
    .block3_direction {
        height: 28em;
    }
    .direction_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);;
    }

    .block_4 {
        height: 57em;
    }
    .shedule {
        overflow-x: auto;
        white-space: nowrap;
    }
    .shedule_days_text {
        color: var(--Pink, #E422C1);
        font-size: 20px;
        font-weight: 500;
    }
    .shedule_line_monday {
        position: absolute;
        margin-top: 9%;
        margin-left: -6.5%;
    }
    .shedule_line_tuesday {
        position: absolute;
        margin-top: 7%;
        margin-left: -7%;
    }
    .shedule_line_saturday {
        position: absolute;
        margin-top: 6%;
        margin-left: -6.5%;
    }

    .schedule-nav {
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        justify-content: center;
        gap: 5%;
    }
    .prevButton {
        border: none;
        border-radius: 100%;
    }
    .nextButton {
        border: none;
        border-radius: 100%;
    }

    .price_section {
        max-width: 400px;
        max-height: 80px;
        margin-bottom: 5%;
    }
    .price_text_class {
        font-size: 20px;
    }
    .price_text_price {
        font-size: 30px;
    }

    .slider {
        max-width: 90%;
    }
    .slide {
        flex: 0 0 50%;
    }

    .form_section {
        display: flex;
        flex-direction: column;
    }
    .form_text {
        max-width: 100%;
    }
    .form_text_1 {
        font-size: 20px;
    }
    .pink_text_form {
        font-size: 20px;
    }

    .contact_sections {
        padding-bottom: 5%;
    }
    .contact_pinksubtitle {
        font-size: 20px;
        font-weight: 700;
    }
    .contact_maintext {
        font-size: 20px;
    }
    .contact_text_icons {
        margin-top: 7%;
    }
    .map {
        width: 400px;
        height: 500px;
    }

    .footer_menu {
        display: none;
    }
}


@media screen and (max-width: 435px) {
    body {
        background-position: center 450px;
        background-size: contain;
    }
    .image_logo_first {
        padding-top: 5%;
        width: 80px;
        height: 45px;
    }
    .play_button {
        display: none;
    }

    .mobile-menu-icon {
        padding-top: 5%;
        padding-right: 5%;
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 3;
    }    
    .desktop_menu {
        display: none;
    }
    .mobile-menu.active {
        display: block;
    }      
    .mobile-menu {
        display: none;
        position: fixed;
        font-size: 32px;
        width: 100%;
        background: var(--Gradient, linear-gradient(90deg, #FCCB90 0%, #D57EEB 100%));
        padding-top: 50px;
        z-index: 2;
        margin-top: 130%;
        margin-left: -10%;
        list-style: none;
    }
    .mobile-menu li {
        margin-bottom: 40px; /* Відступ між кожним пунктом списку */
      }
    .mobile-menu a:hover {
        background-color: #555;
    }
    .burger_image_logo {
        margin-left: 5%;
        width: 9em;
        height: 5em;
    }
    .burger_menu {
        margin-left: 5%;
        text-decoration: none;
        color: #242424;
    }
    .pinkborder_button_menu {
        border-radius: 5px;
        border: 1px solid var(--Pink, #E422C1);
        color: #E422C1;
        width: 100%;
        height: 50px;
        background-color: transparent;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
    }

    h1 {
        font-size: 34px;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .pink_text_title {
        font-size: 34px;
    }

    .action_icons {
        position: absolute;
        margin-top: 70%;
    }

    .menu {
        display: none;
    }
    .buttons_block_1 {
        margin-top: 100%;
    }
    .pink_button_homepage {
        width: 45%;
    }
    .pinkborder_button {
        width: 45%;
    }

    .sticker {
        margin-top: 43%;
        margin-left: 55%;
        width: 132px;
        height: 132px;
        background-image: url(./image/stiker_mobversion.svg);
    }
    .subcribe_text1 {
        font-size: 14px;
    }
    .subcribe_text2 {
        font-size: 24px;
    }


    .block_subscribe {
        margin-top: 30%;
    }
    .wrapper_subscribe {
        padding-top: 5%;
        padding-bottom: 20%;
    }
    .subtitle_subscribe {
        font-size: 14px;
        width: 100%;
    }
    .line_subscribe {
        display: block;
        position: absolute;
        margin-top: 25%;
        margin-left: 15%;
    }
    
    .block2_part1 {
        width: 100%;
    }
    .block2_part2 {
        display: none;
    }

    .block3_list_direction {
        margin-top: 12em;
        margin-bottom: 13em;
    }
    .direction_list {
        display: flex;
        gap: 5%;
        overflow: auto;
        margin-left: -5%;
    }
    .list a {
        font-size: 20px;
    }
    .list li {
        padding-bottom: 7%;
    }
    .block3_direction {
        height: auto;
    }
    .block_title {
        width: 7em;
    }
    .main_text {
        width: 19em;
    }
    .direction_image_button {
        display: flex;
        align-items: center;
    }
    .direction_image {
        width: 21em;
        height: 18em;
    }

    .wrapper_subscribe2 {
        margin-left: 3%;
        padding-top: 5%;
        padding-bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .subtitle_subscribe2 {
        display: block;
        width: 100%;
        font-size: 16px;
    }
    .pulse {
        margin-top: 5%;
    }

    .subtitle_direction {
        font-size: 16px;
    }
    .block3_list_direction {
        margin-top: 60%;
    }
    .list {
        width: 100%;
    }

    .shedule_line_monday {
        position: absolute;
        margin-top: 15%;
        margin-left: -11%;
    }
    .shedule_line_tuesday {
        position: absolute;
        margin-top: 13%;
        margin-left: -12%;
    }
    .shedule_line_saturday {
        position: absolute;
        margin-top: 10%;
        margin-left: -12%;
    }
    .shedule_polehall {
        display: none;
    }
    .line_subscribe {
        display: none;
    }

    .block_5 {
        max-height: 57em;
    }
    .sticker_2 {
        margin-left: 60%;
        margin-top: 20%;
    }
    .block_direction_price {
        display: flex;
        flex-direction: column;
    }
    .list {
        width: 100%;
    }
    .block_price {
        margin-left: 0%;
    }
    .price_text_class {
        font-size: 16px;
    }
    .price_text_price {
        font-size: 26px;
    }
    .block_5_description {
        display: none;
    }
    .description_section {
            padding-bottom: 5%;
    }

    .slider {
        max-width: 79%;
    }
    .slide {
        flex: 0 0 33.33%;
        box-sizing: border-box;
        padding: 0 10px;
        margin-top: 3%;
    }

    .form_block {
        margin-top: 10%;
    }

    .contact_sections {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .contacts_text {
        width: 100em;
    }

    .map {
        margin-top: 15%;
        width: 22em;
        height: 31em;
    }

    footer {
        height: 100%;
    }
    .footer_hours {
        display: none;
    }
}


@media screen and (max-width: 390px) {
    body {
        background-position: center 375px;
        background-size: contain;
    }

    .subtitle {
        font-size: 16px;
    }
    .pink_text_subtitle {
        font-size: 16px;
    }
    .pink_text_title {
        font-size: 28px;
    }
    h1 {
        font-size: 28px;
    }
    .action_icons {
        position: absolute;
        margin-top: 50%;
    }
    .buttons_block_1 {
        margin-top: 110%;
    }
    .pink_button_homepage {
        width: 45%;
    }
    .pinkborder_button {
        width: 45%;
    }
    .menu {
        display: none;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        font-size: 32px;
        width: 100%;
        background: var(--Gradient, linear-gradient(90deg, #FCCB90 0%, #D57EEB 100%));
        padding-top: 50px;
        z-index: 2;
        margin-top: 150%;
        margin-left: -10%;
        list-style: none;
    }


    .block_subscribe {
        margin-top: 30%;
    }
    .subtitle_subscribe {
        font-size: 16px;
        width: 100%;
    }
    .sticker {
        margin-top: 43%;
        margin-left: 55%;
        width: 132px;
        height: 132px;
        background-image: url(./image/stiker_mobversion.svg);
    }
    .subcribe_text1 {
        font-size: 14px;
    }
    .subcribe_text2 {
        font-size: 24px;
    }

    .block_2 {
        margin-top: 17%;
    }
    .block2_part1 {
        width: 100%;
    }
    .block2_part2 {
        display: none;
    }

    .direction_list {
        display: flex;
        gap: 7%;
        overflow: auto;
        margin-left: -5%;
    }
    .list a {
        font-size: 20px;
    }
    .list li {
        padding-bottom: 7%;
    }
    .block3_direction {
        margin-top: 5%;
    }
    .block_title {
        width: 7em;
    }
    .main_text {
        width: 19em;
    }
    .direction_image_button {
        display: flex;
        align-items: center;
    }
    .direction_image {
        width: 305px;
        height: 260px;
    }

    .shedule_days_text {
        font-size: 20px;
    }
    .shedule_time {
        font-size: 18px;
    }
    .shedule_classname {
        font-size: 16px;
    }
    .shedule_polehall {
        display: none;
    }
    .days {
        margin-bottom: 5%;
    }
    .shedule_line_monday {
        display: none;
    }
    .shedule_line_tuesday {
        display: none;
    }
    .shedule_line_saturday {
        display: none;
    }

    .sticker_2 {
        margin-left: 60%;
        margin-top: 10%;
    }
    
    .block_direction_price {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .list {
        width: 100%;
    }
    .price_section {
        width: 118%;
        padding-left: 3%;
        padding-right: 3%;
    }
    .price_text_class {
        font-size: 16px;
        padding-left: 3%;
        padding-right: 3%;
    }
    .price_text_price {
        font-size: 26px;
        padding-left: 3%;
        padding-right: 3%;
    }
    .black_button {
        padding-left: 3%;
    }
    .description_section {
        padding-bottom: 5%;
    }
    .block_5_description {
        display: none;
    }
    
    .marquee_container_2 {
        margin-top: 5%;
    }

    .slider {
        max-width: 89%;
    }
    .subtitle_block_6 {
        font-size: 16px;
    }

    .photo-grid {
        display: flex;
        overflow-x: auto;

    }
    .showMoreButton {
        width: 353;
        height: 53;
        font-size: 16px;
    }

    .form_block {
        margin-top: 10%;
    }
    .form-container {
        margin-top: 5%;
    }
    .pink_button_form {
        width: 353;
        height: 53;
        font-size: 16px;
    }

    .contact_sections {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .contacts_text {
        width: 100em;
    }

    .map {
        margin-top: 15%;
        width: 19em;
    }

    footer {
        padding: 5%;
        display: flex;
        flex-direction: column;
        height: 150px;
        padding-bottom: 25%;
    }
    .footer_maintext {
        font-size: 16px;
    }
    .footer_hours {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .footer_text_section {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .footer_text_section {
        display: none;
    }
}
@media screen and (max-width: 340px) {
    body {
        background-position: center 320px;
        background-size: contain;
    }
    h1 {
        font-size: 24px;
        line-height: 124.585%; /* 68.522px */
        letter-spacing: 1.65px;
    }
    .action_icons {
        position: absolute;
        margin-top: 53%;
    }
    .buttons_block_1 {
        margin-top: 90%;
    }
    .pink_button_homepage {
        width: 45%;
    }
    .pinkborder_button {
        width: 45%;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        font-size: 32px;
        width: 100%;
        background: var(--Gradient, linear-gradient(90deg, #FCCB90 0%, #D57EEB 100%));
        padding-top: 50px;
        z-index: 2;
        margin-top: 170%;
        margin-left: -10%;
        list-style: none;
    }

    .wrapper_subscribe {
        margin-left: 5%;
    }
    .line_subscribe {
        display: none;
    }
    .sticker {
        display: none;
    }
    .subtitle_subscribe {
        font-size: 18px;
    }

    .main_text {
        width: 17em;
    }
    .block2_part1_image {
        width: 280px;
        height: 200px;
    }

    .direction_image {
        width: 16em;
        height: 13em;
    }

    .wrapper_subscribe {
        padding-bottom: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .days {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .shedule_days_text {
        font-size: 17px;
    }

    .sticker_2 {
        margin-left: 50%;
        margin-top: 10%;
    }
    .list {
        width: 100%;
    }
    .block_price {
        margin-left: 0%;
    }
    .price_section {
        width: 118%;
        padding-left: 3%;
        padding-right: 3%;
    }
    .price_text_class {
        font-size: 12px;
        padding-left: 3%;
        padding-right: 3%;
    }
    .price_text_price {
        font-size: 24px;
        padding-left: 3%;
        padding-right: 3%;
    }
    
    .slider {
        max-width: 95%;
        margin-left: 0%;
    }
    .slide {
        padding-right: 0px;
    }
    .slides {
        
    }
    .member_foto {
        
    }

    .map {
        width: 268px;
    }
}